<div class="card border-primary mb-3" style="max-width: 20rem;">
  <app-download></app-download>
    <div class="card-header bg-primary text-white">
        <h5 class="card-title" (click)="testNgComponent() ">{{ blogListComponent.blogs.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">By {{ blogListComponent.blogs.name }}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">Created Date: {{ blogListComponent.blogs.created_date }}</p>
      <p class="card-text">Likes: {{ blogListComponent.blogs.likes }}</p>
      <div *ngIf="blogListComponent.blogs.comments && blogListComponent.blogs.comments.length > 0">
        <h6>Comments:</h6>
        <ul class="list-group">
          <li class="list-group-item bg-light" *ngFor="let comment of blogListComponent.blogs.comments">
            <strong>{{ comment.user }}:</strong> {{ comment.comment }}
          </li>
        </ul>
      </div>
      <div *ngIf="blogListComponent.blogs.blogs && blogListComponent.blogs.blogs.length > 0">
        <h6>Related Blogs:</h6>
        <ul class="list-group">
          <li class="list-group-item bg-light" *ngFor="let blog of blogListComponent.blogs.blogs">
            <a href="{{ blog.url }}" class="card-link" target="_blank">{{ blog.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>