<div class="filter-container bg-light py-3 fixed " style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="name">Comment:</label>
                <input (input)="searchByName()" [(ngModel)]="name" appGetText class="form-control" id="name"
                       placeholder="Search by name" type="text"/>
            </div>
            <div class="col-md-3">
                <label for="like">Like:</label>
                <input (input)="searchByLikes()" [(ngModel)]="like" class="form-control" id="like"
                       placeholder="Search by number of likes" type="number"/>
            </div>
            <div class="col-md-3">
                <label for="title">Title:</label>
                <input #text class="form-control" id="title" placeholder="Search by title" type="text"/>
            </div>
            <div class="col-md-3">
                <label>&nbsp;</label>
                <button (click)="searchByTitle(text)" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
    </div>
</div>