<section class="row vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white custom-card-padding">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5 ">
                            <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
                            <p class="text-danger mb-5">{{ errMsg }}</p>

                            <p class="text-white-50 mb-5">Please enter your login and password!</p>

                            <div class="input-group form-outline form-white mb-3">
                                <input #ctrl="ngModel" [(ngModel)]="user.username" aria-describedby="button-addon2"
                                       aria-label="Recipient's username" class="form-control form-control-lg"
                                       id="typeEmailX"
                                       placeholder="email" required type="email">
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input [(ngModel)]="user.password" class="form-control form-control-lg"
                                       id="typePasswordX"
                                       placeholder="password"
                                       required type="password">
                            </div>

                            <p class="small mb-5 pb-lg-2"><a (click)="navigateToForgotPassword()" class="text-white-50">Forgot
                                password?</a></p>
                            <div class="btn-group">
                                <button (click)="login()" class="btn btn-outline-light btn-lg px-5" type="submit">
                                    Login
                                </button>
                            </div>

                        </div>
                        <div>
                            <p class="mb-0">Don't have an account? <a (click)="navigateToRegister()"
                                                                      class="text-white-50 fw-bold">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>